"contact" is optional in newAccount endpoint

As per [Section 7.3 of RFC 8555](https://datatracker.ietf.org/doc/html/rfc8555/#section-7.3)

It should default to [] when not present. (The `multiple()` function requires the entry to be present.)

Adding `if ($value === null) return [];` to the `multiple()` function makes it work.

It wasn't optional in Let's Encrypts original implementation IIRC. Do you want to send a PR?